@import 'variables';

#about {
  padding: $spacing-base;
  background-color: $color-secondary;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;

  h2 {
    font-size: $font-size-large;
    margin-bottom: $spacing-base;
    color: $color-dark;
    text-align: center;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-headers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid $color-gray-lighter;
    padding-bottom: $spacing-smaller;
    margin-bottom: $spacing-base;
  }

  .section-header {
    cursor: pointer;
    padding: $spacing-base;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s;
  }

  .section-header:hover {
    background-color: darken($color-secondary, 10%);
  }

  h3 {
    font-size: $font-size-medium;
    color: $color-gray;
    margin: 0;
  }

  .content-wrapper {
    display: flex;
    width: 100%;
  }

  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    flex: 1;
    opacity: 0;
    overflow-y: hidden;
  }

  .content.visible {
    max-height: 140px; 
    opacity: 1;
    text-align: left;
  }

  ul, p {
    margin: $spacing-small 0;
    padding: $spacing-small;
    color: $color-gray-light;
    line-height: 1.6;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: $spacing-smaller;
  }
}
