@import 'variables';

#contact {
  padding: $spacing-base;
  background-color: $color-secondary;
  text-align: center;
  
  h2 {
    font-size: $font-size-medium;
    margin-bottom: $spacing-small;
    color: $color-gray;
  }
  
  p {
    font-size: $font-size-base;
    color: $color-gray;
  
    a {
      color: $color-primary;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
