#contact {
    padding: 1.5rem;
    background-color: #e0e4e8;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color:#555;
    }
  
    p {
      font-size: 1.2rem;
      color: #555;
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
}
  