@import 'variables';

header {
  background-color: $color-dark;
  color: $color-light;
  padding: $spacing-small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  h1 {
    margin: 0;
    color: $color-light;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    gap: $spacing-small;

    .sections-dropdown {
      position: relative;

      .sections-button {
        background-color: darken($color-gray, 10%);
        color: $color-light;
        border: none;
        padding: $spacing-smaller $spacing-small;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: lighten($color-gray, 10%);
        }
      }

      .sections-menu {
        position: absolute;
        top: 100%;
        right: 0;  // Aligner à droite
        background-color: $color-gray-dark;
        border: 1px solid darken($color-gray, 10%);
        border-radius: 5px;
        z-index: 10;
        padding: $spacing-smaller 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

        &.visible {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;

          li {
            margin: 0;
            padding: $spacing-smaller $spacing-small;

            a {
              color: $color-light;
              text-decoration: none;
              font-size: $font-size-tiny;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-size: $font-size-medium;
    }

    .header-buttons {
      .sections-dropdown {
        .sections-button {
          font-size: $font-size-small;
          padding: $spacing-smaller $spacing-small;
        }

        .sections-menu {
          width: auto;

          ul {
            flex-direction: column;

            li {
              padding: $spacing-smaller $spacing-small;

              a {
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: $font-size-small;
    }

    .header-buttons {
      .sections-dropdown {
        .sections-button {
          width: auto;
          text-align: left;
          padding: $spacing-smaller $spacing-small;
        }
      }
    }
  }
}
