@import 'variables';

#projects {
  padding: $spacing-large;
  background-color: $color-light;
  text-align: center;

  h2 {
    font-size: $font-size-medium;
    margin-bottom: $spacing-small;
    color: $color-gray;
  }

  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
    justify-content: center;

    .project {
      background-color: $color-secondary;
      border: 1px solid $color-gray-lighter;
      border-radius: 8px;
      padding: $spacing-small;
      width: 300px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: width 0.3s ease;

      h3 {
        font-size: $font-size-small;
        margin-bottom: $spacing-smaller;
        color: $color-gray;
      }

      p {
        font-size: $font-size-base;
        color: $color-gray;
      }

      a {
        color: $color-accent;
        text-decoration: none;
        margin-top: $spacing-smaller;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: $color-light;
    padding: $spacing-small;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 8px;
    position: relative;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    h2 {
      margin-top: 0;
      font-size: $font-size-large;
      color: $color-dark;

      @media (max-width: 768px) {
        font-size: $font-size-medium;
      }

      @media (max-width: 480px) {
        font-size: $font-size-small;
      }
    }

    .carousel {
      margin-bottom: $spacing-small;

      .slick-slider {
        border-radius: 8px;
      }

      .slick-prev,
      .slick-next {
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }

        &.slick-disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &:before {
          color: $color-light;
          font-size: 20px;
        }
      }

      .slick-prev {
        left: 20px;
      }

      .slick-next {
        right: 20px;
      }

      .slick-dots {
        bottom: 20px;
        li {
          button {
            border-radius: 10px;
            border: none;
            background-color: $color-highlight;
            margin: 0 5px 0 0;
          }
        }
      }

      .slick-slide img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }

    .short-description {
      margin-top: $spacing-small;
      font-size: 1.1rem;
      color: $color-dark;
      line-height: 1.5;
      margin-bottom: $spacing-small;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
    }

    .full-description {
      font-size: $font-size-base;
      color: $color-gray;
      line-height: 1.5;
      margin-bottom: $spacing-large;

      @media (max-width: 768px) {
        font-size: $font-size-small;
      }

      @media (max-width: 480px) {
        font-size: $font-size-smaller;
      }
    }

    .modal-buttons {
      display: flex;
      justify-content: center;
      gap: $spacing-small;
      margin-top: $spacing-small;

      a, button {
        background-color: $color-primary;
        color: $color-light;
        border: none;
        padding: $spacing-smaller $spacing-small;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;

        @media (max-width: 768px) {
          font-size: $font-size-small;
        }

        @media (max-width: 480px) {
          font-size: $font-size-smaller;
          padding: $spacing-small $spacing-smaller;
        }
      }

      a:hover, button:hover {
        background-color: lighten($color-primary, 10%);
      }
    }
  }

  @media (max-width: 1024px) {
    padding: $spacing-small;

    .projects-grid {
      .project {
        width: 45%; // Adjust width progressively for screens below 1024px
      }
    }
  }

  @media (max-width: 900px) {
    .projects-grid {
      .project {
        width: 60%; // Adjust width progressively for screens below 900px
      }
    }
  }

  @media (max-width: 768px) {
    padding: $spacing-smaller;

    .projects-grid {
      .project {
        width: 100%; // Full width for screens below 768px
      }
    }

    .modal-content {
      max-width: 90%;
      max-height: 90%;
      padding: $spacing-small;
    }
  }

  @media (max-width: 480px) {
    padding: $spacing-smaller;

    .modal-content {
      max-width: 95%;
      max-height: 95%;
      padding: $spacing-smaller;
    }
  }
}
